
<% if current_user_admin? %>
  <%= link_to 'New Contact', new_contact_path %>
<% end %>

<h1>Список контактов</h1>

    <% @contacts.each do |contact| %>
        
        Row num: <%= contact.row_num %><br>

        <% if current_user_lang == "ru" || current_user_admin? %>
            Name ru: <%= contact.name_ru %><br>
            Description ru: <%= contact.description_ru %><br>
        <% end %>

        <% if current_user_lang != "ru" || current_user_admin? %>
            Name en: <%= contact.name_en %><br>
            Description en: <%= contact.description_en %><br>
        <% end %>

        Phone: <%= contact.phone %><br>
        Email: <%= contact.email %><br>

        <% if contact.avatar.exists? %>
            Avatar: <%= image_tag contact.avatar.url(:thumb) %>
        <% end %>

        <% if current_user_admin? %>
        <br>
        <%= link_to 'Show', contact %> |
        <%= link_to 'Edit', edit_contact_path(contact) %> |
        <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <%= link_to 'Up', contact_up_path(contact), method: :post %> |
        <%= link_to 'Down', contact_down_path(contact), method: :post %>

        <% end %>

        <br><br>
        <br><br>
    
    <% end %>

<br>

